<section id="ListAbogados" style="background-image:url('assets/img/panorama-3094696_1920.jpg');">
    <div class="rgba-black-strong py-5">
        <div class="container">
            <div class="wow fadeIn">
                <h2 class="h1 text-white pt-5 pb-3 text-center">Empleados</h2>
                <p class="text-white px-5 mb-5 pb-3 lead text-center">Relación de Empleados</p>
            </div>
            <div class="table-users">
                <div class="header">Empleados</div>
                <table cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>DNI</th>
                            <th>Dirección</th>
                            <th>Area</th>
                            <th>Cargo</th>
                            <th width="230">Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados | paginate:{ itemsPerPage:3, currentPage: p}">
                            <td>{{empleado.data.nombres}}</td>
                            <td>{{empleado.data.apellidos}}</td>
                            <td>{{empleado.data.dni}}</td>
                            <td>{{empleado.data.direccion}}</td>
                            <td>{{empleado.data.area}}</td>
                            <td>{{empleado.data.cargo}}</td>
                            <td>{{empleado.data.comentario}}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p-$event" class="pagination"></pagination-controls>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>