
<section id="about" style="background-image:url('assets/img/machu.jpg');background-position: center">
  <div class="rgba-black-strong text-center text-white py-5">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">Porque usar esta herramienta?</h2>
      <p class="px-5 mb-5 pb-3 lead blue-white-text">
        En este mundo globalizado las tecnologias estan hechas para hacernos la vida mas facil, tener mas tiempo para compartir con 
        nuestros seres queridos es algo que valoramos en el Poder Judicial, esta herramienta te proporcionara en tiempo record una respuesta
        ante una demanda impuesta.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-dashboard fa-3x orange-text"></i>
        <h3 class="h4 mt-3">Diseño</h3>
        <p class="mt-3 blue-white-text">
          Esta herramienta cuenta con un diseño rapido y atractivo para el usuario.
        </p>
      </div>
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-comments-o fa-3x cyan-text"></i>
        <h3 class="h4 mt-3">Retroalimentacion</h3>
        <p class="mt-3 blue-white-text">
          Contantemente analizamos sus consultas para mejorar la herramienta.
        </p>
      </div>
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-cubes fa-3x red-text"></i>
        <h3 class="h4 mt-3">Ejecucion</h3>
        <p class="mt-3 blue-white-text">
          Las demandas aprobadas pasaran directamente los Jueces designados en ver los casos impuestos.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="row no-gutters" id="features">
    <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s"><i class="fa fa-line-chart fa-2x"></i>
        <div class="h5 mt-3">Rapida Atencion</div>
        <p class="mt-5">Adios a las colas! sabemos que tu tiempo es valioso por ello el sistema web de demandas ofrece rapidez a la hora de entablar una demanda</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s"><i class="fa fa-industry fa-2x"></i>
        <div class="h5 mt-3">Integracion</div>
        <p class="mt-5">Conocemos tus necesidades y queremos saber de tí constantemente por ellos deseamos escucharte atravez de nuestra zona de contacto!</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 teal lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s"><i class="fa fa-users fa-2x"></i>
        <div class="h5 mt-3">Personal Capacitado</div>
        <p class="mt-5">Un equipo altamente capacitado nos respalda, jovenes peruanos que estan listos para satisfacer tus necesidades con cada version</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 light-blue lighten-1 text-white">
      <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s"><i class="fa fa-bullhorn fa-2x"></i>
        <div class="h5 mt-3"> Avisos Generales</div>
        <p class="mt-5">En la zona de reportes podra visualizar dia a dia nuestros avances a nivel nacional</p>
      </div>
    </div>
  </section>
  