/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/
    /*background = gradient + image pattern combo*/
    background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
    font-family: montserrat, arial, verdana;
}


/*form styles*/

#msform {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: black;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: rgb(250, 250, 250);
    font-size: 13px;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    background: rgb(7, 85, 39);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}


/*just bg and body style*/

.container {
    background-color: #1E2832;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.center {
    text-align: center;
}

#top {
    margin-top: 20px;
}

.btn-container {
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.white {
    color: white;
}

.imgupload {
    color: #1E2832;
    padding-top: 40px;
    font-size: 7em;
}

#namefile {
    color: black;
}

h4>strong {
    color: #ff3f3f
}

.btn-primary {
    border-color: #ff3f3f !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3f3f !important;
    border-color: #ff3f3f !important;
}


/*these two are set to not display at start*/

.imgupload.ok {
    display: none;
    color: green;
}

.imgupload.stop {
    display: none;
    color: red;
}


/*this sets the actual file input to overlay our button*/

#fileup {
    opacity: 0;
    -moz-opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    height: 50px;
}


/*switch between input and not active input*/

#submitbtn {
    padding: 5px 50px;
    display: none;
}

#fakebtn {
    padding: 5px 40px;
}


/*www.emilianocostanzo.com*/

#sign {
    color: #1E2832;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-shadow: 0px 0px 0px #1E2832;
    transition: all.3s;
}

#sign:hover {
    color: #1E2832;
    text-shadow: 0px 0px 5px #1E2832;
}