<!-- Intro Section-->
<section class="view hm-gradient" id="intro">
    <div class="full-bg-img d-flex align-items-center">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-10 col-lg-6 text-center text-md-left margins">
            <div class="white-text">
              <div class="wow fadeInLeft" data-wow-delay="0.3s">
                <h1 class="h1-responsive font-bold mt-sm-5">Justicia para Todos!</h1>
                <div class="h6">
                 Nuestra obligacion es brindarte una experiencia satisfactoria ante una situacion adversa, sentir que
                 vives en un pais donde la justicia llegara con solo hacer unos cuantos clicks.
                </div>
              </div><br>
              <div class="wow fadeInLeft" data-wow-delay="0.3s"><a class="btn btn-white dark-grey-text font-bold ml-0" href="https://www.youtube.com/watch?v=60ItHLz5WEA" target="_blank"><i class="fa fa-play mr-1"></i> Conocenos en Youtube!</a><a class="btn btn-outline-white" href="https://www.pj.gob.pe/wps/wcm/connect/CorteSuprema/s_cortes_suprema_home/as_Inicio/" target="_blank">Mas sobre nosotros!</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
