<section id="ListEmpleados" style="background-image:url('assets/img/empresas.jpg'); height: 1800px;">
    <div class="rgba-black-strong py-5" style="height: 100%">
        <div class="container">
            <div class="wow fadeIn">
                <h2 class="h1 text-white pt-5 pb-3 text-center">Demandas</h2>
                <p class="text-white px-5 mb-5 pb-3 lead text-center">Relación de Demandas</p>
            </div>
            <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
                <div class="card-body p-5">

                    <div class="row">
                        <div class="col-md-6">
                            <h2>Demandas:</h2>
                            <div class="md-form">
                                <input class="form-control" placeholder="Comentario" [(ngModel)]="demanda.comentario" readonly="readonly" id="comentario" type="text" name="comentario" required="required" ngModel/>

                            </div>

                            <div class="md-form">
                                <input class="form-control" placeholder="Petitorio" [(ngModel)]="demanda.petitorio" readonly="readonly" id="petitorio" type="text" name="petitorio" required="required" ngModel/>

                            </div>

                            <div class="md-form" style="display: none">
                                <input class="form-control" placeholder="Ruc" [(ngModel)]="demanda.ruc" readonly="readonly" id="ruc" type="text" name="ruc" required="required" ngModel/>

                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="Razon Social" [(ngModel)]="demanda.razon_social" readonly="readonly" id="razon_social" type="text" name="razon_social" required="required" ngModel/>

                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="domicilio Fiscal" [(ngModel)]="demanda.domicilio_fiscal" readonly="readonly" id="domicilio_fiscal" type="text" name="domicilio_fiscal" required="required" ngModel/>

                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="Tipo de contribuyente" [(ngModel)]="demanda.tipo_contribuyente" readonly="readonly" id="contribuyente_tipo" type="text" name="contribuyente_tipo" required="required" ngModel/>

                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="Fecha de Incripcion" [(ngModel)]="demanda.fecha_inscripcion" readonly="readonly" id="fecha_inscripcion" type="text" name="fecha_inscripcion" required="required" ngModel/>

                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="Razon Social" [(ngModel)]="demanda.razon_social" readonly="readonly" id="razon_social" type="text" name="razon_social" required="required" ngModel/>

                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="domicilio Fiscal" [(ngModel)]="demanda.domicilio_fiscal" readonly="readonly" id="domicilio_fiscal" type="text" name="domicilio_fiscal" required="required" ngModel/>

                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="Tipo de contribuyente" [(ngModel)]="demanda.tipo_contribuyente" readonly="readonly" id="contribuyente_tipo" type="text" name="contribuyente_tipo" required="required" ngModel/>


                            </div>
                            <div class="md-form">
                                <input class="form-control" placeholder="Fecha de Incripcion" [(ngModel)]="demanda.fecha_inscripcion" readonly="readonly" id="fecha_inscripcion" type="text" name="fecha_inscripcion" required="required" ngModel/>

                            </div>

                            <div class="center-on-small-only mb-4">
                                <button class="btn btn-indigo ml-0" (click)="guardarCotizacion()" type="submit"><i class="fa fa-paper-plane-o mr-2"></i>Registrar</button>
                                <button class="btn btn-indigo ml-0" (click)="rechazarCotizacion()" type="submit"><i class="fa fa-paper-plane-o mr-2"></i>Rechazar</button>
                            </div>

                        </div>
                        <!-- <div class="col-md-4">
                            <ul class="list-unstyled text-center">
                            </ul>
                        </div> -->


                        <!-- <div class="center-on-small-only mb-4">
                            <button class="btn btn-indigo ml-0" (click)="guardarCotizacion()" type="submit"><i class="fa fa-paper-plane-o mr-2"></i>Registrar</button>
                        </div> -->


                        <div class="col-md-4">
                            <h2>Abogados:</h2>
                            <ul class="list-unstyled text-center">

                                <select class="form-control" [(ngModel)]="abogado" id="abogado" name="abogado">
                                                   <option *ngFor="let abog of Lstabogado" [value]="abog.id">
                                                    {{abog.data.nombres}} {{abog.data.apellidos}}
                                                </option>  
                                            </select>

                                <div class="md-form">
                                    <input class="form-control" placeholder="Nombre representante legal" [(ngModel)]="abogado.nombres" readonly="readonly" id="nombres" type="text" name="nombres" required="required" ngModel/>
                                </div>
                                <div class="md-form">
                                    <input class="form-control" placeholder="Apellido representante legal" [(ngModel)]="abogado.apellidos" readonly="readonly" id="apellidos" type="text" name="apellidos" required="required" ngModel/>
                                </div>
                                <div class="center-on-small-only mb-4">
                                    <button (click)="getAbogadoId($event,abogado)" class="btn btn-indigo ml-0" type="submit"><i class="fa fa-paper-plane-o mr-2"></i>Asignar</button>
                                </div>

                            </ul>
                        </div>
                        <div class="table-users" style="width: 100%;">
                                <div class="header">
                                    
                    
                                </div>
                                <table cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ruc</th>
                                            <th>Petitorio</th>
                                            <th width="230">Comentario</th>
                                            <th>Fecha Inscripcion</th>
                                            <th>Razon Social</th>
                                            <th>Tipo Contribuyente</th>
                                            <th width="230">Domicilio Fiscal</th>
                                            <th>Asignar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let demanda of Lstdemanda | paginate:{itemsPerPage:3, currentPage:p}">
                                            <td>{{demanda.data.ruc}}</td>
                                            <td>{{demanda.data.petitorio}}</td>
                                            <td>{{demanda.data.comentario}}</td>
                                            <td>{{demanda.data.fecha_inscripcion}}</td>
                                            <td>{{demanda.data.razon_social}}</td>
                                            <td>{{demanda.data.tipo_contribuyente}}</td>
                                            <td>{{demanda.data.domicilio_fiscal}}</td>
                                            <td> <button class="btn btn-indigo ml-1" type="submit" (click)="getDemandaId($event,demanda)">Asignar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p=$event" class="pagination" style="width: 100%"></pagination-controls>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</section>
<app-footer></app-footer>