<div class="content">
<section  id="team" style="background-image:url('assets/img/panorama-3094696_1920.jpg');">
  <div class="rgba-black-strong py-5">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 white-text pt-5 pb-3 text-center">Equipo de Desarrolladores</h2>
        <p class="px-5 mb-5 pb-3 lead text-center white-text">
          Detras de un gran proyecto siempre hay grandes personas, esta seccion es un agradecimiento especial a los miembros que 
          hacen posible el disfrutar de esta gran idea.
        </p>
      </div>
      <div class="row mb-lg-4 center-on-small-only">
        <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
          <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="./../assets/img/man-1.jpg" alt="team member"/></div>
          <div class="col-md-6 float-right">
            <div class="h4">Oscar Gutierrez</div>
            <h6 class="font-bold blue-grey-text mb-4">Scrum Master</h6>
            <p class="grey-text">Disciplina e innovacion es lo que me caracteriza.</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@oscarguti</span></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
          <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="./../assets/img/woman-2.jpg" alt="team member"/></div>
          <div class="col-md-6 float-right">
            <div class="h4">Leslie Osorio</div>
            <h6 class="font-bold blue-grey-text mb-4">Q&A Testing</h6>
            <p class="grey-text">Carisma y deseos de superacion es lo que me caracteriza.</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@lesosori</span></a>
          </div>
        </div>
      </div>
      <div class="row center-on-small-only">
        <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
          <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="./../assets/img/man-1.jpg" alt="team member"/></div>
          <div class="col-md-6 float-right">
            <div class="h4">Carlos Noel</div>
            <h6 class="font-bold blue-grey-text mb-4">Equipo de Desarrollo</h6>
            <p class="grey-text">Curiosidad y trabajo en eqipo es lo que me caracteriza.</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@carlnoe</span></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
          <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" src="./../assets/img/man-2.jpg" alt="team member"/></div>
          <div class="col-md-6 float-right">
            <div class="h4">Howards Aguila</div>
            <h6 class="font-bold blue-grey-text mb-4">Product Owner</h6>
            <p class="grey-text">Lograr el objetivo solo es el primer paso, mantener el objetivo es lo esencial.</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@aguihow
            </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>

<app-footer></app-footer>