<section id="contact" style="background-image:url('assets/img/panorama-3094696_1920.jpg'); height: 100%">
    <div class="rgba-black-strong py-5" style="height: 100%">
        <div class="container">
            <div class="wow fadeIn">
                <h2 class="h1 text-white pt-5 pb-3 text-center">Registro de demanda</h2>
                <p class="text-white px-5 mb-5 pb-3 lead text-center">
                    Registra tu demanda con validacion en tiempo real
                </p>
            </div>

            <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
                <div class="card-body p-5">
                    <div class="row">
                        <div class="col-md-8">
                            <form (ngSubmit)="sunatValida(ruc.value)" #ruc="ngForm">
                                <div class="md-form">
                                    <input class="form-control" id="ruc" type="text" name="ruc" required="required" ngModel/>
                                    <label for="name">Ingresa tu RUC a validar</label>
                                </div>
                                <button class="btn btn-indigo ml-0" type="submit"><i class="fa fa-paper-plane-o mr-2"></i>Validar Ruc</button>
                            </form>
                            <form (ngSubmit)="form.form.valid && guardarDemanda(form)" #form="ngForm" novalidate>
                                <div class="md-form">
                                    <input class="form-control" [(ngModel)]="demanda.comentario" id="comentario" type="text" name="comentario" #comentario="ngModel" required="required" minlength="8" maxlength="8" pattern="[0-9]+" />
                                    <label for="name">DNI Del Demandante</label>
                                </div>
                                <div *ngIf="form.touched && comentario.invalid" class="alert alert-danger" role="alert">
                                    <div class="row">
                                        <div class="col-1 alert-icon-col">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </div>
                                        <div *ngIf="comentario.errors.required" class="col">
                                            <strong>Se debe registrar Dni</strong>
                                        </div>
                                        <div *ngIf="comentario.errors.minlength" class="col">
                                            <strong>DNI debe contener 8 números</strong>
                                        </div>
                                        <div *ngIf="comentario.errors.pattern" class="col">
                                            <strong>DNI debe contener solo números</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-form">
                                    <input class="form-control" [(ngModel)]="demanda.petitorio" id="petitorio" #petitorio="ngModel" type="text" name="petitorio" required="required" pattern="[0-9]+" />
                                    <label for="name">Petitorio</label>
                                </div>
                                <div *ngIf="form.touched && petitorio.invalid" class="alert alert-danger" role="alert">
                                    <div class="row">
                                        <div class="col-1 alert-icon-col">
                                            <i class="fa fa-exclamation-circle"></i>
                                        </div>
                                        <div *ngIf="petitorio.errors.required" class="col">
                                            <strong>Se debe registrar petitorio</strong>
                                        </div>
                                        <div *ngIf="petitorio.errors.pattern">
                                            <strong>Petitorio debe contener solo números</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="md-form" style="display: none">
                                    <input class="form-control" [(ngModel)]="demanda.ruc" readonly="readonly" id="ruc" type="text" name="ruc" required="required" ngModel/>
                                    <label for="name">Ruc</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control" [(ngModel)]="demanda.razon_social" readonly="readonly" id="razon_social" type="text" name="razon_social" required="required" ngModel/>
                                    <label for="name">Razon Social</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control" [(ngModel)]="demanda.domicilio_fiscal" readonly="readonly" id="domicilio_fiscal" type="text" name="domicilio_fiscal" required="required" ngModel/>
                                    <label for="name">domicilio Fiscal</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control" [(ngModel)]="demanda.tipo_contribuyente" readonly="readonly" id="contribuyente_tipo" type="text" name="contribuyente_tipo" required="required" ngModel/>
                                    <label for="name">Tipo de contribuyente</label>
                                </div>
                                <div class="md-form">
                                    <input class="form-control" [(ngModel)]="demanda.fecha_inscripcion" readonly="readonly" id="fecha_inscripcion" type="text" name="fecha_inscripcion" required="required" ngModel/>
                                    <label for="name">Fecha de Incripcion</label>
                                </div>

                                <div class="center-on-small-only mb-4">
                                    <button class="btn btn-indigo ml-0" type="submit"><i class="fa fa-paper-plane-o mr-2"></i>Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>